## Task 5

From the above dictionary, do the following tasks

access "Mike"
access "Mike"
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [3]:
#access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
#access "80"
dict1["april_batch"]["student"]["marks"]["python"]

80

In [5]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"] = "priyanka"

In [6]:
dict1

{'april_batch': {'student': {'name': 'priyanka',
   'marks': {'python': 80, 'maths': 70}}}}

In [7]:
#add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"].update(ML= 80 , DL= 80)

In [8]:
dict1

{'april_batch': {'student': {'name': 'priyanka',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}