#### 1. using while loop print numbers from 10 to 1

In [5]:
count = 10

while (count > 0):

    print(count)

    count -= 1

10
9
8
7
6
5
4
3
2
1

In [7]:
counter = 10
while (counter > 0):

    print(counter)

    counter = counter - 1

10
9
8
7
6
5
4
3
2
1

#### 2.try using for loop to loop over tuples,sets and dictionaries

### Loop over tuples

In [8]:
tuple = (1,2,3,4,5)

for item in tuple:
    print(item)

1
2
3
4
5

### Loop over sets

In [9]:
set = {2,3,4.4,True,"python"}

for item in set:
    print(item)

True
2
3
4.4
python

### Loop over dictionary

In [14]:
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
dict1

for key in dict1.keys():
    print(key)
for item in dict1.items():
    print(item)

Brand
model
year
cost
('Brand', 'Bajaj')
('model', 'Pulsar')
('year', 2015)
('cost', 85000)