## Task 6

In [1]:
#Add and remove the elements from a tuple

In [2]:
tup = (1,2,3,4,5,6,7,8)
tup

(1, 2, 3, 4, 5, 6, 7, 8)

In [3]:
#convert into list
list1 = list(tup)    #immutable
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
# add the values
list1.append(9)

In [6]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list1.insert(5,11)

In [10]:
list1

[1, 2, 3, 4, 5, 11, 6, 7, 8, 9, 11]

In [11]:
#remove value
list1.remove(11)

In [12]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [13]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11)